<form name="form1" action="controllerForm" action="post">
    <input type="text" name="id" id="id" placeholder="id:"><br>

    <input type="text" name="name" id="name" placeholder="Name:"><br>

    <input type="number" name="age" id="age" placeholder="Age:"><br>
    
    <input type="submit" name="btSubmit" id="btSubmit" placeholder="Add"><br>
</form>