
<form name="form1" action="controllerForm" method="post">
    <input type="text" name="id" id="id" placeholder="id:" required><br>

    <input type="text" name="name" id="name" placeholder="Name:" required><br>

    <input type="number" name="age" id="age" placeholder="Age:" required><br>
    
    <input  type="submit" name="btSubmit" id="btSubmit" value="Add"><br>
</form>
<br>
<a href='/' class="linkInicial">Voltar</a>